div {
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 15px;
    transition: all 2s ease-in;
}

#width {
    background-color: red;
}

#width:hover {
    width: 300px;
}

#height {
    background-color: green;
}

#height:hover {
    height: 300px;
}

#widthHeight {
    background-color: blue;
}

#widthHeight:hover {
    height: 300px;
    width: 300px;
}